<main class="main">
  <mat-toolbar>
    <div class="title">Tasks</div>
  </mat-toolbar>
  <div class="content">
    <!-- Filter Card -->
    <mat-card class="filter-card">
      <mat-card-header>
        <mat-card-title>Displaying Categories</mat-card-title>
      </mat-card-header>
      <mat-card-content class="toggle-section">
        @for (cat of categories; track cat.id) {
          <div class="toggle-container">
            {{cat.title}} <mat-slide-toggle class="category-toggle" [(ngModel)]="cat.visible" (change)="getFilteredTasks()"></mat-slide-toggle>
          </div>
        }
      </mat-card-content>
    </mat-card>

    <!-- List Card -->
    <mat-card class="list-card">
      <mat-card-header>
        <mat-card-title>Active Tasks</mat-card-title>
        <div class="order-toggle-container">
          <span class="label">Order by Due Date </span><mat-slide-toggle class="order-toggle" [(ngModel)]="orderByDueDate" (change)="getFilteredTasks()"></mat-slide-toggle>
        </div>
      </mat-card-header>
      <mat-card-content>
        @defer {
          <mat-list>
            @for (task of tasks$ | async; track task.id) {
              <mat-list-item class="task-list-item">
                <mat-icon matListItemIcon [fontIcon]="calculateIcon(task.category)"></mat-icon>
                <span matListItemTitle class="item-title">{{task.title}} <span class="item-category">{{task.category}}</span>
                  <span class="item-duedate"><span class="label">Due </span>{{task.dueDate | date:"MMM d, y"}}</span>
                </span>
                <span matListItemLine>
                  <span class="item-description">{{task.description}}</span>
                  <span class="task-buttons">
                    <a class="edit-button" (click)="openTaskEditDialog(task)"><mat-icon>edit</mat-icon> Edit</a>
                    <a class="delete-button" (click)="removeTask(task.id)"><mat-icon>delete</mat-icon> Delete</a>
                  </span>
                </span>
              </mat-list-item>
            }
          </mat-list>
          <button mat-button (click)="openTaskEditDialog()" class="add-button"><mat-icon>add</mat-icon> Add Task</button>
        }
        @loading (minimum 1.5s) {
          <div class="deferred-loading">
            <div class="loading-container"><mat-spinner class="spinner"></mat-spinner> Loading Tasks...</div>
          </div>
        }
      </mat-card-content>
    </mat-card>
  </div>
</main>

<router-outlet />
